@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap');
#app {
    height: 100%;
}

html,
body {
    position: relative;
    background: #111111;
    height: 100%;
    font-family: "Asimovian", sans-serif;
    overflow-x: hidden;
}

p a, strong, button, span, h1, h2, h3, h4, h5, h6, div, li, label, input, textarea, select, option {
    font-family: "Asimovian", sans-serif !important;
}