/*@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
#app {
    height: 100%;
}

html,
body {
    position: relative;
    background: #111111;
    height: 100%;
    font-family: "Ubuntu", sans-serif;
    overflow-x: hidden;
}

p a, strong, button, span, h1, h2, h3, h4, h5, h6, div, li, label, input, textarea, select, option {
    font-family: "Ubuntu", sans-serif;
}